<app-blank [title]="title" [routes]="routes">
    <app-section [sectionTitle]="sectionTitle">
        <h1>Hello Home Page</h1>
        <button class="btn btn-primary w-100" (click)="addBasket()">Sepete Ekle</button>
        <button class="btn btn-danger w-100" (click)="addOrder()">Sipariş Ekle</button>
        

        <!-- <app-form [inputs]="inputs" [btnName]="btnName" (sendEvent)="get($event)"></app-form>


        <app-form [inputs]="inputs" [btnName]="btnName" (sendEvent)="get2($event)"></app-form> -->
        
    </app-section>   
    
</app-blank>